* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    background-color: lightgoldenrodyellow;
}

h1 {
    color: lightgreen;
    font-family: 'Times New Roman', Times, serif;
}

p {
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
}

a {
    padding: 10px 20px;
    background-color: yellow;
    color: red;
    transition: ease-in-out .4s;
    border-radius: 10px;
}

a:hover {
    background-color: lightgoldenrodyellow;
    cursor: pointer;
}

button {
    background-color: blue;
    color: white;
}